.errorNotification {
    padding: 1em;
    margin: 0.6em 0;
    border-radius: 0.3em;
    font-size: 0.9em;
    max-width: 300px;
    position: fixed;
    top: 7em;
    right: 2em;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.errorNotification.error {
    background-color: #f8d7da;
    color: #721c24;
}

.errorNotification.success {
    background-color: #d4edda;
    color: #155724;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.2em;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}
